<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plantysick">

    <uses-permission android:name="android.permissin.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantySick"
        tools:targetApi="31">
        <activity
            android:name=".PlantActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Average_rating"
            android:exported="false"
            android:label="Average Rating"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DieasesAndCure"
            android:exported="false"
            android:label="Dieases And Cure"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SingleCommunityPost"
            android:exported="false"
            android:label="Community Post"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Show_Feedback"
            android:exported="false"
            android:label="Feedback"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Feedback"
            android:exported="false"
            android:label="Give Feedback"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Ask_Community"
            android:exported="false"
            android:label="Ask Community"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Community"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Field_Monitor"
            android:exported="false"
            android:label="Field Monitor"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".QuickStart"
            android:exported="false"
            android:label="Quick Start"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkufVDodmYekGjC9TuMXJQ-y3tYhLGF1M" />
    </application>

</manifest>